{% extends "base.html" %}
{% load static %}
{% block title %}Chat Rooms{% endblock %}
{% block content %}
<div class="container">
<div class="content">
  <div class="contact-profile">
    <img src="{% static 'avatars/tuturu.png' %}" alt="" />
    <p>{{ user.username }}</p>
    <!-- <div class="social-media">
          <i class="fa fa-weibo" aria-hidden="true"></i>
          <i class="fa fa-wechat" aria-hidden="true"></i>
          <i class="fa fa-qq" aria-hidden="true"></i>
        </div> -->
  </div>

  <div class="messages" id="messages_id">
    <ul id="chat-log">
      {% comment %}
      {% endcomment %}
    </ul>
  </div>

  <div class="message-input">
    <div class="wrap">
      <input id="chat-message-input" type="text" placeholder="Write your message..." autofocus />
      <!-- <i class="fa fa-paperclip attachment" aria-hidden="true"></i> -->
      <i class="fa fa-file-image-o attachment" aria-hidden="true"><input id="images_upload" style="position: absolute; top: 0; bottom: 0; left: 0;right: 0; opacity: 0;" type="file" accept="image/png, image/pjpeg, image/gif, image/bmp" /></i>
      <!-- <i class="fa fa-smile-o" aria-hidden="true"></i>  -->
      <button id="chat-message-submit" class="submit">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block content_js %}
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/reconnecting-websocket.js' %}"></script>
<script>
  var roomName = {{ room_name_json }};
  var username = "{{ user.username | safe}}";


  var chatSocket = new ReconnectingWebSocket(
    'ws://' + window.location.host +
    '/ws/chat/' + roomName + '/');


  chatSocket.onopen = function (e) {
    fetchMessages();
  }


  chatSocket.onmessage = function (e) {
    var data = JSON.parse(e.data);
    if (data['command'] === 'messages') {
      for (let i = 0; i < data['messages'].length; i++) {
        createMessage(data['messages'][i]);
      }
    } else if (data['command'] === 'new_message') {
      createMessage(data['message']);
      scrollToBottom();

    }

  };

  chatSocket.onclose = function (e) {
    console.error('Chat socket closed unexpectedly');
  };


  document.querySelector('#chat-message-input').onkeyup = function (e) {
    if (e.keyCode === 13) {  // enter, return
      document.querySelector('#chat-message-submit').click();

    }
  };

  document.querySelector('#chat-message-submit').onclick = function (e) {
    var messageInputDom = document.getElementById('chat-message-input');
    var message = messageInputDom.value;
    scrollToBottom();
    chatSocket.send(JSON.stringify({
      'command': 'new_message',
      'message': message,
      'from': username
    }));

    messageInputDom.value = '';
  };

  function scrollToBottom() {
    var objDiv = document.getElementById("messages_id");
    objDiv.scrollTop = objDiv.scrollHeight;

  }

  function fetchMessages() {
    chatSocket.send(JSON.stringify({ 'command': 'fetch_messages' }));

  }

  function createMessage(data) {
    var author = data['author'];
    var msgListTag = document.createElement('li');
    var imgTag = document.createElement('img');
    var pTag = document.createElement('p');
    var tTag = document.createElement('time');
    tTag.className = "time";
    tTag.textContent = data.timestamp.substring(10, 16) + "  " + author;
    pTag.textContent = data.content;

    imgTag.src = "{% static 'avatars/dontdothis.jpg' %}";

    if (author === username) {
      msgListTag.className = 'sent';
    } else {
      msgListTag.className = 'replies';
    }
    msgListTag.appendChild(tTag);
    msgListTag.appendChild(imgTag);
    msgListTag.appendChild(pTag);

    document.querySelector('#chat-log').appendChild(msgListTag);
  }
  </script>
<script>
// File field object
var init_params = {};

while(document.querySelector('#images_upload').files[0]){
image_file = document.querySelector('#images_upload').files[0];
init_params.action = 'prepare';
init_params.file_name = image_file.name;
init_params.file_size = image_file.size;

// This is a wrapper I have that gets a websocket. 
// The callback is called on connect. It sends the initialization parameters.
var ws = get_websocket(url, function(){
    this.send(JSON.stringify(init_params));
});

// After the initialization params are sent this is called with 0 as a parameter. 
// As the web server oks each chunk this is called with the next offset to send. chunk_size needs to be set somewhere.
var load_data = function(index) {
    var end =  index + this.chunk_size;
    if (index >= image_file.size)
        return;
    if (end > image_file.size)
        end = image_file.size;
    ws.send(image_file.slice(index, end));
}.bind(this);


ws.onmessage = function(msg) {
    var message = JSON.parse(msg.data);
    switch (message.action) {
        case 'progress':
            // This is called each time a chunk is written
            load_data(message.file_size);
            break;
        case 'ready':
            // This comes in to kick everything off
            load_data(0);
            break;
        case 'complete':
            // Handle complete
            break;
            }
    }.bind(this);
}


</script>
{% endblock %}